body {
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main {
    width: 70%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
h1,h2,h3,a {
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px;
}
h2 {
    color: rgb(34, 34, 109);
}
div {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}
a {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgb(196, 206, 215);
}